{% extends "base.html" %}
{% load static %}

{% block extra_title %}Home Page{% endblock %}

{% block content %}
    <div class="container-fluid p-0 m-0 home-container">
        <div class="row m-0">
            <div class="offset-md-3 offset-lg-5 col-12 col-md-8 col-lg-6 my-auto">
                <div class="container-fluid shop-entry">
                    <div class="row">
                        <h1 class="shop-heading col-lg-6 offset-1 offset-sm-3 offset-lg-2 logo-font text-white my-4">
                            MC<br>Vinyl<br>Record<br>Store
                        </h1>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 offset-1 offset-sm-3 offset-lg-2 my-4">
                            <h2>
                                <a href="{% url 'products' %}" class="shop-now-button btn btn-lg  text-uppercase py-3">Shop Now</a>
                            </h2>
                        </div>
                    </div>                    
                </div>                
            </div>
        </div>
    </div>
{% endblock %}