{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'wishlist/css/wishlist.css' %}">
{% endblock %}

{% block extra_title %}Wishlist{% endblock %}

{% block content %}
    <div class="container mb-5">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="heading logo-font mb-4">Wishlist</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% if wishlist_items %}
                    <div class="d-block d-md-none">
                        <div class="row">
                            <div class="col">
                                <a href="{% url 'products' %}" class="btn btn-outline-dark keep-shopping-btn">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span class="text-uppercase">Keep Shopping</span>
                                </a>
                                <a href="{% url 'transfer_all_to_cart' %}" class="btn btn-dark checkout-btn my-3">
                                    <span class="text-uppercase">Add All to Cart</span>
                                    <span class="icon">
                                        <i class="fas fa-cart-plus"></i>
                                    </span>
                                </a>
                                <p class=" mb-5">A summary of your wishlist contents is below:</p>
                            </div>
                        </div>
                        {% for item in wishlist_items %}
                            <div class="row">
                                <a class="col-12 col-sm-6 mb-2" href="{% url 'product_detail' item.id %}">
                                    {% if item.image %}
                                        <img class="img-fluid rounded" src="{{ item.image.url }}" alt="{{ item.title }}">
                                    {% else %}
                                        <img class="img-fluid rounded" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.title }}">
                                    {% endif %}
                                </a>
                                <div class="col-12 col-sm-6 mb-2">
                                    <p class="my-0 logo-font">{{ item.artist }}</p>
                                    <p class="my-0"><strong>{{ item.title }}</strong></p>
                                    <p class="my-0 small ">SKU: {{ item.sku|upper }}</p>
                                </div>
                                <div class="col-12 col-sm-6 order-sm-last">
                                    <p class="my-0">Price Each: €{{ item.price }}
                                        <a href="{% url 'remove_from_wishlist' item.id 'wishlist' %}" class="wishlist-remove text-danger mx-2 h4"><i class="fas fa-times-circle"></i></a>
                                        <a href="{% url 'add_to_cart' item.id %}" class="wishlist-to-cart text-dark h4"><i class="fas fa-cart-plus"></i></a>
                                    </p>                                    
                                </div>
                            </div>
                            <div class="row"><div class="col"><hr></div></div>
                        {% endfor %}
                    </div>
                    <div class="table-responsive rounded d-none d-md-block">
                        <table class="table table-sm table-borderless">
                            <thead class="text-dark">
                                <tr>
                                    <th scope="col">Product Info</th>
                                    <th scope="col"></th>
                                    <th scope="col">Price</th>
                                </tr>
                            </thead>
                            {% for item in wishlist_items %}
                                <tr>
                                    <td class="p-3 w-25">
                                        {% if item.image %}
                                            <a href="{% url 'product_detail' item.id %}">
                                                <img class="img-fluid rounded" src="{{ item.image.url }}" alt="{{ item.title }}">
                                            </a>                                            
                                        {% else %}
                                            <a href="{% url 'product_detail' item.id %}">
                                                <img class="img-fluid rounded" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product.title }}">
                                            </a>
                                        {% endif %}
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0 logo-font">{{ item.artist }}</p>
                                        <p class="my-0"><strong>{{ item.title }}</strong></p>
                                        <p class="my-0 small ">SKU: {{ item.sku|upper }}</p>
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0">€{{ item.price }}
                                            <a href="{% url 'remove_from_wishlist' item.id 'wishlist' %}" class="wishlist-remove text-danger mx-2 h4" aria-label="remove-from-wishlist">
                                                <i class="fas fa-times-circle"></i>
                                            </a>
                                            <a href="{% url 'add_to_cart' item.id %}" class="wishlist-to-cart text-dark h4" aria-label="add-to-cart">
                                                <i class="fas fa-cart-plus"></i>
                                            </a>
                                        </p>
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="3" class="text-right pt-5">
                                    <a href="{% url 'products' %}" class="btn btn-outline-dark">
                                        <span class="icon">
                                            <i class="fas fa-chevron-left"></i>
                                        </span>
                                        <span class="text-uppercase">Keep Shopping</span>
                                    </a>
                                    <a href="{% url 'transfer_all_to_cart' %}" class="btn btn-dark">
                                        <span class="text-uppercase">Add All to Cart</span>
                                        <span class="icon">
                                            <i class="fas fa-cart-plus"></i>
                                        </span>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                {% else %}
                    <p class="lead mb-5">Your wishlist is empty.</p>
                    <a href="{% url 'products' %}" class="btn btn-outline-dark">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">Keep Shopping</span>
                    </a>
                {% endif %}
            </div>
        </div>
        <div class="btt-button">
            <a class="btt-link d-flex h-100">
                <i class="fas fa-arrow-up mx-auto my-auto"></i>
            </a>	
        </div>
    </div>
{% endblock %}