{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block extra_title %}All Orders{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid orders-container mb-5">
        <div class="row">
            <div class="col">
                <hr>
                <h1 class="heading logo-font mb-4">All Orders:</h1>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="">Order History</p>
                <div class="row mb-4">
                    <div class="col-12 col-sm-9 col-md-7 col-lg-6 col-xl-5">                   
                        <form method="GET" action="{% url 'view_all_orders' %}">
                            <div class="input-group">
                                <input class="form-control border-dark" type="text" name="search_users" placeholder="Search Orders by Username..." required>
                                <div class="input-group-append"> 
                                    <button class="form-control btn btn-outline-dark" type="submit" aria-label="search-orders">
                                        <span class="icon">
                                            <i class="fas fa-search"></i>
                                        </span>
                                    </button>
                                    <a href="{% url 'view_all_orders' %}" class="btn btn-dark">Reset</a>
                                </div>
                            </div>
                        </form>                        
                    </div>
                </div>
                <div class="col">
                    <p>Search "no account" to see anonymous user orders.</p>
                </div>
                {% if orders %}
                    <div class="order-history table-responsive mt-5">
                        <table class="table table-sm table-borderless">
                            <thead>
                                <tr>
                                    <th>Order Number</th>
                                    <th>Date</th>
                                    <th>Customer</th>
                                    <th>Order Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for order in orders %}
                                    <tr>
                                        <td>
                                            <a href="{% url 'view_order_detail' order.order_number %}" title="{{ order.order_number }}">
                                                {{ order.order_number|truncatechars:8 }}
                                            </a>
                                        </td>
                                        <td>
                                            <div>{{ order.date|date:'d/m/y' }}</div>
                                            <div>{{ order.date|date:'H:i' }}</div>
                                        </td>
                                        <td>
                                            {% if order.user_profile.user %}
                                                <div class="d-md-none">{{ order.user_profile.user|truncatechars:14 }}</div>
                                                <div class="d-none d-md-block">{{ order.user_profile.user|truncatechars:30 }}</div>
                                            {% else %}
                                                No Account
                                            {% endif %}
                                        </td>
                                        <td>€{{ order.grand_total }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <p>No orders to see.</p>
                {% endif %}
            </div>
        </div>
        <div class="btt-button">
            <a class="btt-link d-flex h-100">
                <i class="fas fa-arrow-up mx-auto my-auto"></i>
            </a>	
        </div>
    </div>
{% endblock %}
