.order-history {
    max-height: 416px; /* height of profile form + submit button */
    overflow-y: auto;
    font-size: 3vw;
}

#profile-update-form .form-control {
    color: #000;
}

#profile-update-form input::placeholder {
    color: #aab7c4;
}

#id_default_country,
#id_default_country option:not(:first-child) {
    color: #000;
}

#id_default_country option:first-child {
    color: #aab7c4;
}

.update-info-btn {
    width: 230px;
}

.back-btn,
.add-message-btn {
    width: 211px;
}

@media (min-width: 576px) {
    .order-history {
        font-size: 1em;
    }
}
