/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* ----------------------------------------------General */

@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Montserrat&display=swap');

body {
    background-color: #F9F6F6;
    font-family: 'Montserrat', sans-serif;
}

.home-container {
    background: url('/media/record_store.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
}

button {
    border-radius: .25rem;
}

a {
    color: #201ec0;
}

header {
    border-bottom: 3px solid #451d1d;
}

#loading-overlay {
	display: none;
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(23, 162, 184, .85);
    z-index: 9999;
}

.loading-spinner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
    height: 100%;
}

.disable-element {
    pointer-events: none;
}

/* from Bulma */
.icon {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    font-family: 'Monoton', cursive;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

.heading {
    font-size: 1.5em;
}

.btn-dark {
    background: #451d1d;
    color: #F9F6F6;
}

.btn-outline-dark {
    background: #F9F6F6;
    color: #451d1d !important;
    /* use important to override link colors for <a> elements */
    border: 1px solid #451d1d;
}

.btn-outline-dark:hover,
.btn-outline-dark:active,
.btn-outline-dark:focus {
    background: #451d1d;
    color: white !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-dark:hover,
.btn-dark:active,
.btn-dark:focus {
    background: #403535;
    color: white;
}

.text-dark {
    color: #451d1d !important;
}

.border-dark {
    border: 1px solid #451d1d !important;
}

.bg-dark {
    background: #451d1d !important;
}

.bg-light {
    background: #F9F6F6 !important;
}

a.category-badge>span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

.btt-button {
    border: 1px solid;
    border-color: #dc3545;
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 1;
}

.btt-link:hover {
    text-decoration: none;
}

.btt-button i {
    color: #dc3545;
}

.btt-link,
.call-delete,
.update-quantity,
.remove-item,
.wishlist-remove,
.wishlist-to-cart,
#user-options-1,
#user-options-2,
#upvote-review {
    cursor: pointer;
}

input[name='q']::-webkit-input-placeholder {
    color: #aab7c4;
}

input[name='q']::-moz-placeholder {
    color: #aab7c4;
}

input[name='q']:-ms-input-placeholder {
    color: #aab7c4;
}

input[name='q']::-ms-input-placeholder {
    color: #aab7c4;
}

input[name='q']::placeholder {
    color: #aab7c4;
}

.checkout-btn,
.keep-shopping-btn {
    width: 218px;
}

.dropdown-menu {
    background-color: #fdfdfd;
}

.nav-item {
    padding: 10px 0;
}

.cart-has-items {
    color: #80108E;
}

/* Messages thread */
.customer-name {
    color: #ffff07;
}

.customer-card {
    background-color: #1f7055;
}
/* ------------------------------------------- home */

.shop-heading {
    font-size: 2.6em;
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 140px;
    right: 30px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.cart-notification-wrapper {
    height: 20vh;
    overflow-x: hidden;
    overflow-y: auto;
}

/* ---------------------------------------------- Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem;
    /* mt-4 */
    color: #6c757d;
    /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::-webkit-input-placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content input::-moz-placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content input:-ms-input-placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content input::-ms-input-placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
    /* btn */
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;

    /* standard bootstrap btn transitions */
    -webkit-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    -o-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {
    color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
    color: #17a2b8;
    /* text-info */
}

.password_change button,
.password_change a {
    width: 175px;
}

/* ------------------------------------------------Nav */
.records-logo {
    height: 50px;
    margin-bottom: 15px;
}

.mobile-logo {
    font-size: 1.4em;
}

.delivery-banner {
    background-color: #A20B0B;
}

.main-container {
    min-height: 80vh;
}

.nav-items {
    font-size: .9em;
}

/* ----------------------------------------------------home */
.shop-now-button {
    background: #451d1d;
    color: #F9F6F6;
    min-width: 200px;
}

.shop-entry {
    background-color: rgba(0, 0, 0, 0.616);
}

/* -------------------------------------------- Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
}

/*--------------------------------------------------------Footer */

.footer-container {
    background-color: #451d1d;
    min-height: 90px;
    text-align: center;
}

.footer-container li a i {
    color: #eee9e1;
    font-size: 28px;
}

.footer-terms a,
.footer-terms {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #eee9e1;
    margin: 0 auto;
    text-decoration: none;
}

/* Color change on hover */
.footer-container li a i,
.footer-terms a {
    transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -webkit-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
}

.footer-terms a:hover,
.footer-container li a i:hover {
    color: #316dc6;
}

.footer-terms .footer-terms-item {
    height: 34px;
}

/* ----------------------------------------------------Quantity Form Buttons */
.decrement-qty,
.increment-qty {
    border-color: #adb5bd;
}

/* -------------------------------- Media Queries */

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .my-account-dropdown {
        -webkit-transform: translate3d(-100px, 0, 0);
                transform: translate3d(-100px, 0, 0);
    }

    .nav-link {
        padding: .15rem;
    }

    .navbar-toggler {
        padding: .6rem .6rem;
        font-size: 1rem;
    }

    .delivery-banner h4 {
        font-size: .9rem;
    }

    .increment-qty,
    .decrement-qty {
        padding: .25rem .5rem !important;
    }
}

@media (min-width: 576px) {
    .heading {
        font-size: 2rem;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .shop-heading {
        font-size: 3.5em;
    }

    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 200px;
    }

    .nav-link {
        padding-left: .6rem;
        padding-right: .6rem;
    }
}

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }

    .nav-link {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}
