.inline-deletelink {
    float: right;
    background: url('/media/trash-solid.svg') 0 0 no-repeat;
    width: 16px;
    height: 16px;
    border: 0px none;
}

.dynamic-array-widget .remove {
    height: 15px;
    display: flex;
    align-items: center;
    margin-left: 5px;
    cursor: pointer;
}

.dynamic-array-widget .array-item {
    display: flex;
    align-items: center;
}

.dynamic-array-widget ul {
    padding-left: 0;
}

.preview-image {
    width: 96px;
    height: 96px;
}

label .asteriskField {
    display: none;
}

.fa-star {
    color: #ffc107;
}

/* Star Rating Styling */
.rating {
    overflow: hidden;
    vertical-align: bottom;
    display: inline-block;
    width: 150px;
    height: 30px;
}

.rating>input {
    opacity: 0;
    margin-right: -100%;
}

.rating>label {
    position: relative;
    display: block;
    float: right;
    background: url('../../../../media/bright_star.png');
    background-size: 30px 30px;
}

.rating>label:before {
    display: block;
    opacity: 0;
    content: '';
    width: 30px;
    height: 30px;
    background: url('../../../../media/dark_star.png');
    background-size: 30px 30px;
    transition: opacity 0.2s linear;
}

.rating>label:hover:before,
.rating>label:hover~label:before,
.rating:not(:hover)> :checked~label:before {
    opacity: 1;
}

.media .image-container {
    width: 40%;
}

.edit-product-btn,
.edit-review-btn,
.call-delete {
    width: 141px;
}

.add-cart-btn,
.keep-btn,
.input-group,
.add-review {
    width: 190px;
}

.card-album-title {
    min-height: 70px;
}

.card-img-top {
    height: 100%;
}

.genre-wrapper {
    min-height: 40px;
}
