.messages-wrapper {
    min-height: 50vh;
}

.table {
    font-size: 2.7vw;
}

.table-caption {
    font-size: 1.3em;
}

/* -------------------------------- Media Queries */

@media (min-width: 420px) {
    .table {
        font-size: .8em;
    }
}

@media (min-width: 576px) {
    .table {
        font-size: 1em;
    }
}