/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.messages-wrapper {
    min-height: 50vh;
}

.table {
    font-size: 2.7vw;
}

.table-caption {
    font-size: 1em;
}

.open-threads-table {
    background-color: #fff;
}

.arrow-left {
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-bottom: 31px solid transparent;
    border-right: 31px solid #6c757d;
    position: absolute;
    left: -30px;
    top: -1px;
}

.arrow-right {
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-bottom: 31px solid transparent;
    border-left: 31px solid #1f7055;
    position: absolute;
    right: -30px;
    top: -1px;
}

/* -------------------------------- Media Queries */

@media (min-width: 420px) {
    .table {
        font-size: .8em;
    }
}

@media (min-width: 576px) {
    .table {
        font-size: 1em;
    }
}
