<div class="list-inline-item">
    <a href="#" aria-label="search" class="text-dark nav-link d-block d-lg-none" id="mobile-search" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="text-center">
            <div><i class="fas fa-search fa-2x"></i></div>
        </div>
    </a>
    <div class="dropdown-menu border-0 w-100 p-3  my-0" aria-labelledby="mobile-search">
        <form method="GET" action="{% url 'products' %}" class="search-site-form">
            <div class="input-group w-100">
                <input class="form-control border-dark" type="text" name="q" placeholder="Search our site" required>
                <div class="input-group-append">
                    <button class="form-control form-control btn btn-outline-dark" type="submit" aria-label="search">
                        <span class="icon">
                            <i class="fas fa-search"></i>
                        </span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="list-inline-item dropdown">
    <a href="#" class="text-dark nav-link d-block d-lg-none" id="user-options-2" aria-label="my-account" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="text-center">
            <div><i class="fas fa-user fa-2x"></i></div>
        </div>
    </a>
    <div class="dropdown-menu border-0 my-account-dropdown" aria-labelledby="user-options-2">
        {% if wishlist_count %}
            <a href="{% url 'view_wishlist' %}" class="dropdown-item">
                <i class="fas fa-heart text-danger"></i> My Wishlist({{ wishlist_count }})
            </a>
        {% else %}
            <a href="{% url 'view_wishlist' %}" class="dropdown-item">
                <i class="far fa-heart text-danger"></i> My Wishlist(0)
            </a>
        {% endif %}
        {% if request.user.is_authenticated %}
            {% if request.user.is_superuser %}
                <a href="{% url 'messaging' %}" class="dropdown-item">Messaging</a>
                <a href="{% url 'view_all_orders' %}" class="dropdown-item">All Orders</a>
                <a href="{% url 'add_product' %}" class="dropdown-item">Add a New Product</a>
                <a href="{% url 'product_fields_admin' %}" class="dropdown-item">Product Fields Admin</a>
            {% endif %}
            <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
            <a href="{% url 'account_change_password' %}" class="dropdown-item">Change Password</a>
            <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
        {% else %}
            <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
            <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
        {% endif %}
    </div>
</div>
<div class="list-inline-item">
    <a class="{% if grand_total %}cart-has-items font-weight-bold{% else %}text-dark{% endif %} nav-link d-block d-lg-none" href="{% url 'view_cart' %}">
        <div class="text-center">
            <div><i class="fas fa-shopping-cart fa-lg"></i></div>
            <p class="my-0">
                {% if grand_total %}
                    €{{ grand_total|floatformat:2 }}
                {% else %}
                    €0.00
                {% endif %}
            </p>
        </div>
    </a>
</div>