{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <main class="container py-5">
        <div class="row m-0">
            <div class="col-12 col-lg-6">
                <p>{{ exception }}</p>
                <p>Please click below to return to safety.</p>
                <a href="{% url 'home' %}" class="btn btn-success">Back</a>
            </div>
        </div>
    </main>
{% endblock %}