{% load static %}

<!doctype html>
<html lang="en">
    <head>
        {% block meta %}
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <meta name="description" content="an e-commerce site for selling vinyl records" />
        {% endblock %}

        {% block extra_meta %}
        {% endblock %}

        {% block corecss %}
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
            <link rel="stylesheet" href="{% static 'css/base.css' %}">
            <link rel="shortcut icon" type="image/png" href="{{ MEDIA_URL }}favicon.ico"/>
        {% endblock %}

        {% block extra_css %}
        {% endblock %}

        {% block corejs %}
            <script src="https://kit.fontawesome.com/b92bca4325.js" crossorigin="anonymous"></script>
            <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
            <!-- Stripe -->
            <script src="https://js.stripe.com/v3/"></script>
        {% endblock %}

        {% block extra_js %}
        {% endblock %}
        <title>MC Vinyl {% block extra_title %}{% endblock %}</title>
    </head>
    <body>
        <header class="container-fluid fixed-top-desktop-only">
            <div class="row text-center delivery-banner">
                <div class="col text-white">
                    <p class="h6 font-weight-bold my-1 mx-auto">Free delivery on orders over €{{ free_delivery_threshold }}!</p>                
                </div>
            </div>
            <div class="row d-lg-none">
                <div class="col bg-dark">
                    <a href="{% url 'home' %}" class="nav-link logo-font text-white mx-auto">
                        <h2 class="mobile-logo my-1">MC Vinyl</h2>
                    </a>                
                </div>            
            </div>
            <div id="topnav" class="row bg-light pt-lg-2 d-none d-lg-flex">
                <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-left">
                    <a href="{% url 'home' %}" class="nav-link main-logo-link">
                        <img src="{{ MEDIA_URL }}records.png" class="d-inline records-logo" alt="records-logo">
                        <h2 class="logo-font text-dark my-0 d-inline"><strong>MC</strong> Vinyl</h2>
                    </a>
                </div>
                <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                    <form method="GET" action="{% url 'products' %}" class="search-site-form">
                        <div class="input-group w-100">
                            <input class="form-control border-dark" type="text" name="q" placeholder="Search by Artist, Title or Genre..." required>
                            <div class="input-group-append">
                                <button class="form-control btn btn-outline-dark" type="submit" aria-label="search">
                                    <span class="icon">
                                        <i class="fas fa-search"></i>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 pl-lg-0 nav-items">
                    <ul class="list-inline list-unstyled text-center text-lg-right my-0">
                        <li class="list-inline-item dropdown">
                            <a href="#" class="text-dark nav-link" id="user-options-1" data-toggle="dropdown" aria-label="my-account" aria-haspopup="true" aria-expanded="false">
                                <div class="text-center">
                                    <div><i class="fas fa-user fa-lg"></i></div>
                                    <p class="my-0">My Account</p>
                                </div>
                            </a>
                            <div class="dropdown-menu border-0 my-account-dropdown" aria-labelledby="user-options-1">
                                {% if request.user.is_authenticated %}
                                    {% if request.user.is_superuser %}
                                        <a href="{% url 'messaging' %}" class="dropdown-item">Messaging</a>
                                        <a href="{% url 'view_all_orders' %}" class="dropdown-item">All Orders</a>
                                        <a href="{% url 'add_product' %}" class="dropdown-item">Add a New Product</a>
                                        <a href="{% url 'product_tags_admin' %}" class="dropdown-item">Product Tags Admin</a>
                                    {% endif %}
                                    <a href="{% url 'profile' %}" class="dropdown-item">My Orders & Messages</a>
                                    <a href="{% url 'account_change_password' %}" class="dropdown-item">Change Password</a>
                                    <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                                {% else %}
                                    <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                                    <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                                {% endif %}
                            </div>
                        </li>
                        <li class="list-inline-item">
                            <a class="text-dark nav-link" href="{% url 'view_wishlist' %}">
                                <div class="text-center">
                                    {% if wishlist_count %}
                                        <div><i class="fas fa-heart fa-lg text-danger"></i></div>
                                        <p class="my-0">                                        
                                            Wishlist({{ wishlist_count }})
                                        </p>
                                    {% else %}
                                        <div><i class="far fa-heart fa-lg text-danger"></i></div>
                                        <p class="my-0"> 
                                            Wishlist(0)
                                        </p>
                                    {% endif %}                                    
                                </div>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="{% if grand_total %}cart-has-items font-weight-bold{% else %}text-dark{% endif %} nav-link" href="{% url 'view_cart' %}">
                                <div class="text-center">
                                    <div><i class="fas fa-shopping-cart fa-lg"></i></div>
                                    <p class="my-0">
                                        {% if grand_total %}
                                            €{{ grand_total|floatformat:2 }}
                                        {% else %}
                                            €0.00
                                        {% endif %}
                                    </p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row bg-light">
                <nav class="navbar navbar-expand-lg navbar-light w-100 py-3 py-lg-0">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    {% include 'includes/mobile-top-header.html' %}
                    {% include 'includes/main-nav.html' %}
                </nav>
            </div>
        </header>
        {% if messages %}
            <div class="message-container">
                {% for message in messages %}
                    {% with message.level as level %}
                        {% if level == 40 %}
                            {% include 'includes/toasts/toast_error.html' %}
                        {% elif level == 30 %}
                            {% include 'includes/toasts/toast_warning.html' %}
                        {% elif level == 25 %}
                            {% include 'includes/toasts/toast_success.html' %}
                        {% else %}
                            {% include 'includes/toasts/toast_info.html' %}
                        {% endif %}
                    {% endwith %}
                {% endfor %}
            </div>
        {% endif %}

        {% block page_header %}
        {% endblock %}
        <div class="main-container container-fluid p-0 m-0">
            {% block content %}                
            {% endblock %}
        </div>
        <div id="loading-overlay">
            <div class="text-light loading-spinner">
                <span class="icon">
                    <i class="fas fa-3x fa-sync-alt fa-spin fa-7x"></i>
                </span>
            </div>
        </div>
        <footer>
            <div class="container-fluid footer-container">
                <div class="row">
                    <div class="col-12">
                        <ul class="list-inline social-links pt-4 pb-1">
                            <li class="list-inline-item p-2">
                                <a href="https://www.facebook.com/" target="_blank" rel="noreferrer">
                                    <i class="fab fa-facebook-f" aria-hidden="true"></i>
                                    <span class="sr-only">Facebook link</span>
                                </a>
                            </li>
                            <li class="list-inline-item p-2">
                                <a href="https://twitter.com/" target="_blank" rel="noreferrer">
                                    <i class="fab fa-twitter" aria-hidden="true"></i>
                                    <span class="sr-only">twitter link</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row pt-3 footer-terms">
                    <div class="col-12">
                        <p>For Educational Purposes Only</p>
                    </div>
                </div>
            </div>
        </footer>

        {% block postloadjs %}
            <script src="{% static 'js/base.js' %}"></script>
        {% endblock %}
    </body>
</html> 