/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* Styling for Stripe checkout elements ############################## */

.StripeElement,
.stripe-style-input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: .25rem;
  background-color: white;
  -webkit-box-shadow: 0 1px 3px 0 #e6ebf1;
          box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  -webkit-transition: -webkit-box-shadow 150ms ease;
  transition: -webkit-box-shadow 150ms ease;
  -o-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease, -webkit-box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  -webkit-box-shadow: 0 1px 3px 0 #cfd7df;
          box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripe-style-input::-webkit-input-placeholder {
    color: #aab7c4;
}

.stripe-style-input::-moz-placeholder {
    color: #aab7c4;
}

.stripe-style-input:-ms-input-placeholder {
    color: #aab7c4;
}

.stripe-style-input::-ms-input-placeholder {
    color: #aab7c4;
}

.stripe-style-input::placeholder {
    color: #aab7c4;
}

.fieldset-label {
    position: relative;
    right: .5rem;
}

#payment-form .form-control,
#card-element {
    color: #000;
    border: 1px solid #000;
}

select,
select option {
    color: #000000;
}

select:invalid,
select option[value=""] {
    color: #aab7c4 !important;
}

#card-errors,
.card-charge-info {
    color: #CA1919;
}

.checkout-items {
    font-size: .8em;
}

.orders-container {
    min-height: 140vh;
    font-size: 3vw;
}

/* Messages */
.arrow-left {
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-bottom: 31px solid transparent;
    border-right: 31px solid #6c757d;
    position: absolute;
    left: -30px;
    top: -1px;
}

.arrow-right {
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-bottom: 31px solid transparent;
    border-left: 31px solid #1f7055;
    position: absolute;
    right: -30px;
    top: -1px;
}

/* Media Queries ######################################################### */

@media (min-width: 576px) {
    .checkout-items {
        font-size: 1em;
    }
    .orders-container {
        font-size: 1em;
    }
}
