{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container mb-5">
        <div class="row">
            <div class="col-12">
                <hr>
                <h2 class="heading logo-font mb-4">Product Management</h2>
                <hr>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-12 col-md-6">
                <div class="row mb-4">
                    <div class="col">
                        <h3 class="">Add Genre Tag:</h3>
                    </div>                    
                </div>
                <form method="POST" action="{% url 'product_fields_admin' %}" class="form mb-2 needs-validation" enctype="multipart/form-data" novalidate>
                    {% csrf_token %}
                    <label for="genre-name" class="form-label">Programmatical Name:</label>
                    <input id="genre-name" name="name" type="text" class="form-control"
                    pattern="^[-a-z0-9_]+$" maxlength="30" required>
                    <span class="invalid-feedback">only small letters, numbers, underscores or hyphens (no spaces)</span>
                    <div class="my-3">
                        <label for="genre-friendly-name" class="form-label">Display Name:</label>
                        <input id="genre-friendly-name" name="friendly_name" type="text" class="form-control"
                            maxlength="30" placeholder="See examples below..." required>
                    </div>                    
                    <div class="text-right">
                        <a class="btn btn-outline-dark " href="{% url 'products' %}">Cancel</a>
                        <button class="btn btn-dark " name="genre" type="submit">Add Genre Tag</button>
                    </div>
                </form>
                <div class="row mt-4">
                    <div class="col mb-5">
                        <div class="font-weight-bold">Existing Genres: *</div>
                        {% if genres %}
                            {% for genre in genres %}
                            <div class="row">
                                <div class="col">
                                    {{ genre.name }}
                                    ({{ genre.friendly_name }})
                                </div>
                            </div>
                            {% endfor %}
                        {% else %}
                            <div>No Existing</div>
                        {% endif %}
                    </div>                    
                </div>
            </div>            
            <div class="col-12 col-md-6">
                <div class="row mb-4">
                    <div class="col">
                        <h3 class="">Add Promotion Tag:</h3>
                    </div>
                </div>                
                <form method="POST" action="{% url 'product_fields_admin' %}" class="form mb-2 needs-validation" enctype="multipart/form-data" novalidate>
                    {% csrf_token %}
                    <label for="promotion-name" class="form-label">Programmatical Name:</label>
                    <input id="promotion-name" name="name" type="text" class="form-control"
                    pattern="^[-a-z0-9_]+$" maxlength="30" required>
                    <span class="invalid-feedback">only small letters, numbers, underscores or hyphens (no spaces)</span>
                    <div class="my-3">
                        <label for="promotion-friendly-name" class="form-label">Display Name:</label>
                        <input id="promotion-friendly-name" name="friendly_name" type="text" class="form-control"
                            maxlength="30" placeholder="See examples below..." required>
                    </div>   
                    <div class="text-right">
                        <a class="btn btn-outline-dark " href="{% url 'products' %}">Cancel</a>
                        <button class="btn btn-dark " name="promotion" type="submit">Add Promotion Tag</button>
                    </div>
                </form>
                <div class="row mt-4">
                    <div class="col">
                        <div class="font-weight-bold">Existing Promotions: *</div>
                        {% if promotions %}
                            {% for promotion in promotions %}
                                <div class="row">
                                    <div class="col">
                                        {{ promotion.name }}
                                        ({{ promotion.friendly_name }})
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div>No Existing</div>
                        {% endif %}
                    </div>                    
                </div>
            </div>            
        </div>
        <div class="row text-center pb-5">
            <div class="col">
                <div class="font-weight-bold">* Display Name Shown In Brackets</div>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script src="{% static 'products/js/products.js' %}"></script>
{% endblock %}