{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block extra_title %}Product Details{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <a href="#" class="btn btn-outline-dark mt-3 go-back">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="text-uppercase">Back</span>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                <div class="image-container my-5">
                    {% if product.image %}
                        <a href="{{ product.image.url }}" target="_blank" aria-label="product-image">
                            <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                        </a>
                        {% else %}
                        <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="product-details-container mb-5 mt-md-5">
                    {% if request.user.is_superuser %}
                        <div class="pb-4">
                            <a class="btn btn-outline-dark edit-product-btn" href="{% url 'edit_product' product.id %}">Edit</a>
                            <a class="btn btn-danger call-delete" data-toggle="modal" data-target="#deleteProductModal">Delete</a>
                        </div>
                        {% include 'products/includes/modal_delete.html' %}
                    {% endif %}
                    <p class="logo-font detail-artist">{{ product.artist }}</p>
                    <p class="my-3"><strong>{{ product.title }}</strong></p>
                    <div class="mb-3 mt-2">
                        {% if product.rating %}
                            <small><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
                        {% else %}
                            <small><i class="fas fa-star mr-1"></i>No Rating</small>
                        {% endif %}
                    </div>
                    {% if product.pre_discount_price %}
                        <s class="small">€{{ product.pre_discount_price }}</s>
                    {% endif %}
                    <p class="lead mb-3 text-left font-weight-bold">€{{ product.price }}
                        {% if in_wishlist %}
                            <a href="{% url 'remove_from_wishlist' product.id 'product' %}" aria-label="remove-from-wishlist" class="wishlist-remove text-danger ml-3"><i class="fas fa-heart"></i></a>
                        {% else %}
                            <a href="{% url 'add_to_wishlist' product.id %}" aria-label="add-to-wishlist" class="text-danger ml-3"><i class="far fa-heart"></i></a>
                        {% endif %}
                    </p>
                    {% if not request.user.is_authenticated %}
                        <p class="small">Sign up so you can take advantage of the Wishlist.</p>
                    {% endif %}
                    {% if product.genre %}
                        <p class="small mt-1 mb-1">
                            <i class="fas fa-tag mr-1"></i>
                            {% for genre in product.genre.all %}
                                <a class="" href="{% url 'products' %}?genre={{ genre }}">
                                    {{ genre.friendly_name|capfirst }}
                                </a>{% if product.genre.all|length > 1 and forloop.counter != product.genre.all|length %} | {% endif %}
                            {% endfor %}
                        </p>
                    {% endif %}
                    <div><small><strong>Released: </strong> {{ product.release_date }}</small></div>
                    <div><small><strong>Label: </strong> {{ product.label }}</small></div>
                    <div><small><strong>Album Format: </strong>{{ product.album_format }}</small></div>
                    <div><small><strong>Colour: </strong>{{ product.color }}</small></div>                   
                    <div class="pb-3"><small><strong>SKU: </strong>{{ product.sku }}</small></div>
                    <p class="my-4">{{ product.description }}</p>
                    {% for track in product.track_list %}
                        <div class="row my-2">
                            <div class="col">{{ track }}</div>
                        </div>
                    {% endfor %}
                    <form class="form my-3 add-cart-form" action="{% url 'add_to_cart' product.id %}" method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col-12">
                                <p class="mt-3"><strong>Quantity:</strong></p>
                                <div class="form-group w-50">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="decrement-qty btn btn-outline-dark" aria-label="decrement-quantity"
                                                data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}">
                                                <span class="icon">
                                                    <i class="fas fa-minus"></i>
                                                </span>
                                            </button>
                                        </div>
                                        <input class="form-control qty_input" type="number" aria-label="quantity"
                                            name="quantity" value="1" min="1" max="99"
                                            data-item_id="{{ product.id }}"
                                            id="id_qty_{{ product.id }}">
                                        <div class="input-group-append">
                                            <button class="increment-qty btn btn-outline-dark" aria-label="increment-quantity"
                                                data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}">
                                                <span class="icon">
                                                    <i class="fas fa-plus"></i>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col mt-2">
                                <a href="{% url 'products' %}" class="btn btn-outline-dark my-3">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span class="text-uppercase keep-btn">Keep Shopping</span>
                                </a>
                                <input type="submit" class="btn btn-dark text-uppercase add-cart-btn" value="Add to Cart">
                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        </div>
                    </form>
                    {% if not already_reviewed and request.user.is_authenticated %}
                        <form class="form mt-5 add-review-form" action="{% url 'add_product_review' product.id %}" method="POST">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="col-12">                                                  
                                    {{ review_form.body|as_crispy_field }}
                                    <span class="rating">
                                        <input id="rating5" type="radio" name="review_rating" value="5" required>
                                        <label for="rating5">5</label>
                                        <input id="rating4" type="radio" name="review_rating" value="4" required>
                                        <label for="rating4">4</label>
                                        <input id="rating3" type="radio" name="review_rating" value="3" required>
                                        <label for="rating3">3</label>
                                        <input id="rating2" type="radio" name="review_rating" value="2" required>
                                        <label for="rating2">2</label>
                                        <input id="rating1" type="radio" name="review_rating" value="1" required>
                                        <label for="rating1">1</label>
                                    </span>
                                    <div class="mt-3 mb-5">
                                        <button class="btn btn-dark add-review" type="submit">Add Review</button>
                                    </div>                     
                                </div>
                            </div>
                        </form>
                    {% elif request.user.is_authenticated %}
                        <div class="my-5">You've already reviewed this.</div>
                    {% else %}
                        <div class="my-5"><a href="{% url 'account_login' %}" class="">Log-In</a> to submit a review.</div>
                    {% endif %}
                    <div class="row mb-4">
                    {% if reviews %}                    
                        <div class="col-12 my-auto order-md-last d-flex">
                            <div class="sort-select-wrapper">
                                <select id="sort-selector" class="custom-select custom-select-sm  border-dark">
                                    <option value="date_desc" {% if current_sorting == 'date_desc' %}selected{% endif %}>Sort By: Most Recent</option>
                                    <option value="rating_desc" {% if current_sorting == 'rating_desc' %}selected{% endif %}>Sort By: Highest Rating</option>
                                    <option value="rating_asc" {% if current_sorting == 'rating_asc' %}selected{% endif %}>Sort By: Lowest Rating</option>
                                    <option value="likes_desc" {% if current_sorting == 'likes_desc' %}selected{% endif %}>Sort By: Most Likes</option>
                                </select>
                            </div>
                        </div>                    
                    {% endif %}
                    </div>
                    <div class="row">
                    {% for review in reviews %}
                        <div class="col-12 py-2">
                            <div class="small mb-2">
                                Reviewed by: <span class="font-weight-bold">{{ review.user.username }}</span>
                            </div>
                            <div class="small">
                                Date: {{ review.review_date|date:"d M Y" }}
                            </div>
                            <div class="my-3">
                                {{ review.body }}
                            </div>
                            <div class="">
                                Rating:
                                {% with ''|center:review.review_rating as range %}
                                    {% for _ in range %}
                                        <i class="fas fa-star"></i>
                                    {% endfor %}
                                {% endwith %}
                            </div>
                            <div class="my-2">
                                {% if request.user.is_authenticated and request.user not in review.upvote_list.all and request.user.id != review.user.id %}
                                    <div id="upvote-review" aria-label="upvote-review" data-items="{{ product.id }}_{{ review.user }}">
                                        <i class="fas fa-thumbs-up fs-5 pe-2"></i> {% if review.upvote_count %}{{ review.upvote_count }}{% else %}0{% endif %}
                                    </div>
                                {% else %}
                                    <i class="fas fa-thumbs-up"></i> {{ review.upvote_count }}
                                {% endif %}
                            </div>
                            {% if review.admin_comment %}
                            <div class="row">
                                <div class="col ml-5">
                                    <small class="row"><strong>MC Vinyl Comment:</strong></small> 
                                    <small class="row my-2">{{ review.admin_comment }}</small> 
                                </div>
                            </div>
                            {% endif %}
                            {% if request.user.id == review.user.id or request.user.is_superuser %}
                            <div class="row">
                                <div class="col">
                                    <a class="btn btn-dark mt-2 edit-review-btn" href="{% url 'edit_product_review' product.id review.user.username %}">Edit/Delete</a>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                        <hr class="w-100">
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="btt-button">
            <a class="btt-link d-flex h-100">
                <i class="fas fa-arrow-up mx-auto my-auto"></i>
            </a>	
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script src="{% static 'products/js/products.js' %}"></script>
{% endblock %}