{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid mb-5 pb-5">
        <div class="row">
            <div class="col text-center">
                <hr>
                <h2 class="heading logo-font">Products</h2>
                <hr class="mb-1">
                {% for genre in current_genres %}
                    <a class="category-badge text-decoration-none" href="{% url 'products' %}?genre={{ genre.name }}">
                        <span class="p-2 mt-2 badge badge-white text-dark  border border-dark">{{ genre.friendly_name }}</span>
                    </a>
                {% endfor %}
                {% for promotion in current_promotions %}
                    <a class="category-badge text-decoration-none" href="{% url 'products' %}?promotion={{ promotion.name }}">
                        <span class="p-2 mt-2 badge badge-white text-dark  border border-dark">{{ promotion.friendly_name }}</span>
                    </a>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="product-container col-10 offset-1">
                <div class="row mt-3 mb-2">
                    <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
                        <div class="sort-select-wrapper w-50">
                            <select id="sort-selector" class="custom-select custom-select-sm  border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                                <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                                <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                                <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                                <option value="rating_asc" {% if current_sorting == 'rating_asc' %}selected{% endif %}>Rating (low to high)</option>
                                <option value="rating_desc" {% if current_sorting == 'rating_desc' %}selected{% endif %}>Rating (high to low)</option>
                                <option value="artist_asc" {% if current_sorting == 'artist_asc' %}selected{% endif %}>Artist (A-Z)</option>
                                <option value="artist_desc" {% if current_sorting == 'artist_desc' %}selected{% endif %}>Artist (Z-A)</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 order-md-first">
                        <p class=" mt-3 text-center text-md-left">
                            {% if search_term or current_genres or current_sorting != 'None_None' %}
                                <span class="small"><a href="{% url 'products' %}">Products Home</a><span class="mx-1">|</span></span>
                            {% endif %}
                            {{ products|length }} Products{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
                        </p>
                    </div>
                </div>
                <div class="row pt-4 mt-2">
                    {% for product in products %}
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 bg-light mb-5 pb-3">
                            {% if request.user.is_superuser %}
                                <div class="row mx-auto pb-1 admin-buttons-row">
                                    <div class="col-6 px-0">
                                        <a class="btn btn-dark edit-product-btn w-100" href="{% url 'edit_product' product.id %}"><small>Edit</small></a>
                                    </div>
                                    <div class="col-6 px-0">
                                        <a class="btn btn-danger call-delete w-100" data-toggle="modal" data-target="#deleteProductModal"><small>Delete</small></a>
                                    </div>
                                </div>
                                {% include 'products/includes/modal_delete.html' %}
                            {% endif %}
                            <div class="card h-100 border-0 bg-light card-wrapper">
                                <a href="{% url 'product_detail' product.id %}" class="text-center p-1">
                                    {% if product.image %}
                                        <img class="card-img-top img-fluid products-img rounded-lg" src="{{ product.image.url }}" alt="{{ product.title }}">
                                    {% else %}
                                        <img class="card-img-top img-fluid products-img rounded-lg" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.title }}">
                                    {% endif %}
                                </a>
                                <div class="card-body pb-2">
                                    <div class="row">
                                        <div class="col">
                                            {% if product.pre_sale_price %}
                                                <s class="small">€{{ product.pre_sale_price }}</s>
                                            {% endif %}
                                            <p class="lead font-weight-bold">€{{ product.price }}</p>
                                        </div>
                                        <div class="col text-right">
                                            {% if product.rating %}
                                                <small><i class="fas fa-star mr-1"></i>{{ product.rating }}</small>
                                            {% else %}
                                                <small><i class="fas fa-star mr-1"></i>N/A</small>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="row card-album-title">
                                        <div class="col-12">
                                            <p class="mb-2 logo-font">{{ product.artist }}</p>
                                            <p class="mb-0 font-weight-bold">{{ product.title }}</p>
                                        </div>
                                    </div>               
                                    <div class="row">
                                        <div class="col">                                            
                                            {% if product.genre %}
                                            <p class="small mt-1 mb-0 genre-wrapper">
                                                <i class="fas fa-tag mr-1"></i>
                                                {% for genre in product.genre.all %}
                                                    <a class="" href="{% url 'products' %}?genre={{ genre }}">
                                                        {{ genre.friendly_name|capfirst }}
                                                    </a>{% if product.genre.all|length > 1 and forloop.counter != product.genre.all|length %} | {% endif %}
                                                {% endfor %}
                                            </p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                        
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="btt-button">
        <a class="btt-link d-flex h-100">
            <i class="fas fa-arrow-up mx-auto my-auto"></i>
        </a>	
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }} <!-- appends this code to anything else in the block rather than replacing it -->
    <script src="{% static 'products/js/products.js' %}"></script>
{% endblock %}